<% content_for :brand do %>
  <div class="brand-bg brand-small text-center">
    <a href="#" class="facebook"><i class="fa fa-facebook square-3 rounded-5"></i></a>
    <a href="#" class="instagram"><i class="fa fa-instagram square-3 rounded-5"></i></a>
    <a href="#" class="twitter"><i class="fa fa-twitter square-3 rounded-5"></i></a>
  </div>
<% end %>

<% if params[:keywords] %>
  <div data-hook="search_results">
    <% if @products.empty? %>
      <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
    <% else %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>
<% else %>
  <div data-hook="homepage_products">
    <% cache(cache_key_for_products) do %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>
<% end %>