<% info = Spree::StoreInfo.first  %>
<% store = Spree::Store.current  %>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <h5>Social Media</h5>
      <div class="brand-bg">
        <a href="#" class="facebook text-center"><i class="fa fa-facebook square-3 rounded-5"></i></a>
        <a href="#" class="twitter text-center"><i class="fa fa-twitter square-3 rounded-5"></i></a>
        <a href="#" class="instagram text-center"><i class="fa fa-instagram square-3 rounded-5"></i></a>
      </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <h5>Opening Hours</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ducimus nisi reprehenderit temporibus officia eligendi, dolore adipisci! Esse aut odio culpa quo? Iste impedit, tenetur provident recusandae delectus dolorem cum.</p>
      <br>
      <br>
      <p><%= info.phone %></p>
    </div>
    <div class="col-md-3 col-sm-6">
      <h5>Contact traicayvn</h5>
      <p><i class="fa fa-home"></i>  <%= info.address %></p>
      <p><i class="fa fa-phone"></i>  <%= info.phone %></p>
      <p><i class="fa fa-envelope"></i>  <%= store.mail_from_address %></p>
    </div>
    <div class="col-md-3 col-sm-6">
      <h5>@INTAGRAM</h5>
    </div>
  </div>
</div>
<div class="bottom-footer">
  <div class="container">
    <p class="text-left">Copyright © 2015 - Willow Creek Vineyard | Built by Entice Website Design</p>
  </div>
</div>